@import url(./variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-light);
  color: var(--bg-dark);
  padding: 10px 90px;
  font-family: var(--font-main);
  border-bottom: 1px solid var(--btn-hover);
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.logo {
  display: flex;
  gap: 10px;
  height: 50px;
  align-items: center;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-red);
  padding: 8px 12px;
  border-radius: 8px;
  i{
    color: white;
  }
}
.nav-links{
  display: flex;
  font-family: var(--btn-font);
  font-size: 1em;
  font-weight: 600;
}
.nav-links-items{
  display: flex;
  gap: 5px;
  padding: 8px 12px;
  align-items: center;
}
.nav-links-items li {
  list-style: none;
}
.nav-links-items a {
  color: var(--bg-dark);
  text-decoration: none;
  
  padding: 8px 14px;
  border-radius: 12px;
}
.nav-links-items a:hover {
  background-color: var(--hover-gray);
  transition: ease-in-out 0.1s;
}
.nav-links-items a.active{
  background-color: var(--primary-red);
  color: var(--text-white);
}
.nav-right {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-right a {
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 12px;
  font-size: 1em;
  font-weight: 600;
  font-family: var(--btn-font);
}
.log-in{
  color: var(--bg-dark);
}

.log-in:hover {
  background-color: var(--primary-red);
  transition: ease-in-out 0.1s;
  color: var(--text-white);
}
.sign-up {
  padding: 8px 14px;
  background-color: var(--primary-red);
  border-radius: 14px;
  color: white;
}

.btn-outline {
  text-decoration: none;
  color: var(--bg-dark);
  padding: 8px 14px;
  border: 2px solid var(--primary-red);
  border-radius: 12px;
  
}
.btn-outline:hover {
  background-color: var(--primary-red);
  color: var(--bg-light);
}
#toggle-btn{
  padding: 20px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  .fa-regular{
    font-size: 18px;
  }
  .fa-sun{
    color: var(--primary-red);
  }
}

body {
  font-family: var(--font-main);
  background: #f5f5f5;
  color: #222;
  line-height: 1.6;
}
.subtitle{
  font-size: 1.2rem;
  color: var(--primary-red);
  margin-bottom: 20px;
}
.create-hero{
  background: #444141;
  color: var(--bg-dark);
  padding: 140px 12% 80px;
  border-bottom: 2px solid var(--primary-red);
}
.create-hero h1{
  font-family: var(--primary-font);
  font-size: 3.8rem;
  margin: 15px 0;
  text-transform: uppercase;
}

.create-hero .description{
  max-width: 650px;
}
.create-hero p{
  color: #bdbdbd;
  font-size: 1.2rem;
  font-family: var(--btn-font);
}
.create-event{
  background:#f5f5f5;
  padding:70px 0;
}
.step-content{
  display: block;
}

.step-content.active{
  display: block;
}


.form-card{

  width:min(900px,90%);

  margin:auto;

  margin-bottom:40px;

  background:white;

  border-radius:20px;

  padding:45px;

  box-shadow:0 10px 35px rgba(0,0,0,.08);

}

.form-card h2{

  font-size:2rem;
  margin-bottom:30px;
  color:var(--bg-dark);

}

fieldset{

  border:1px solid #e3e3e3;

  border-radius: 12px;

  padding:30px;

}

legend{

  padding:0 12px;

  color:var(--primary-red);

  font-size:1.2rem;

  font-weight:700;

}
.form-group{

  display:flex;

  flex-direction:column;

  margin-bottom:22px;

}

.form-group label{

  margin-bottom:8px;

  font-weight:600;

  color:#333;

}

.form-group input,
.form-group select,
.form-group textarea{

    width:100%;

    padding:15px 18px;

    border:1px solid #d6d6d6;

    border-radius:12px;

    font-size:1rem;

    transition:.25s;

    background:white;

}

.form-group textarea{

  min-height:140px;

  resize:vertical;

}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus{

    outline:none;

    border-color:var(--primary-red);

    box-shadow:0 0 0 4px rgba(220,38,38,.15);

}

input[type="file"]{

  padding:12px;

  cursor:pointer;

}

.publish-btn{
    background:var(--primary-red);

    color:white;

    border:none;

    padding:16px 35px;

    border-radius:12px;

    font-size:1rem;

    font-weight:700;

    cursor:pointer;

    transition:.25s;

}

.publish-btn:hover{

    transform:translateY(-2px);

    box-shadow:0 8px 18px rgba(0,0,0,.2);

}


::placeholder{

    color:#999;

}
.preview-table{
  width: 75%;
  margin: 30px auto;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.preview-table th{
  width: 220px;
  background: #f8d7da;
  color: #8b0000;
  text-align: left;
  padding: 16px 20px;
  font-size: 1rem;
}

.preview-table td{
  background: white;
  color: #333;
  padding: 16px 20px;
  border-bottom: 1px solid #eee;
}

.preview-table tr:last-child td,
.preview-table tr:last-child th{
  border-bottom: none;
}





footer{
  background-color: var(--bg-dark);
  padding: 80px;
}
.footer-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer-grid-box{
  .logo{
    font-size: 13px;
    font-weight: 700;
    font-family: var(--primary-font);
    margin-bottom: 10px;
  }
  p{
    font-family: var(--btn-font);
    font-size: 14px;
    max-width: 200px;
    color: var(--text-gray);
    margin-bottom: 25px;
  }
  .social-links{
    display: flex;
    gap: 20px;
    cursor: pointer;
    font-size: 18px;
    i{
      width: 40px;
      height: 40px;
      align-content: center;
      background-color: var(--btn-hover);
      border-radius: 50%;
      text-align: center;
      transition: all 0.2s;
    }
    i:hover{
      background-color: #c8191e;
    }
  }
  .footer-card-title{
    font-family: var(--btn-font);
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  .footer-links{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    row-gap: 15px;
    a{
      text-decoration: none;
      color: var(--text-gray);
      font-family: var(--btn-font);
      font-size: 16px;
      font-weight: 500;
      transition: all 0.2s;
    }
    a:hover{
      color: var(--primary-red);
    }
  }
  .footer-contact-info{
    .lct, .tel, .email, .website{
      display: flex;
      gap: 10px;
      i{
        font-size: 14px;
        color: var(--primary-red);
        align-items: center;
      }
    }
  }
}
.footer-end{
  padding: 20px 80px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--btn-hover);
  font-family: var(--btn-font);
  font-size: 15px;
  color: var(--text-gray);
  font-weight: 500;
}