@import url(./variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-dark);
    color: var(--text-white);
    padding: 10px 15px;
    font-family: var(--font-main);
}
.logo{
    display: flex;
    gap: 10px;
    height: 50px;
    align-items: center;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-red);
    padding: 8px 12px;
    border-radius: 8px;
}
.nav-links{
    display: flex;
    gap: 5px;
    padding: 8px 12px;
    align-items: center;
}
.nav-links li{
    list-style: none;
}
.nav-links .item a{
    color: var(--text-white);
    text-decoration: none;
    font-size: 1em;
    padding: 8px 14px;
    border-radius: 8px;
}
.nav-links a:visited {
  color: #ffffff; 
}
.nav-links .item a:hover{
    background-color: var(--hover-gray);
    transition: ease-in-out 0.1s;
}
.nav-right{
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-right a{
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 1em;
    color: var(--text-white)
}
.nav-right a:hover{
    background-color: var(--primary-red);
    transition: ease-in-out 0.1s;
}
.btn-bg{
    padding: 8px 14px;
    background-color: var(--primary-red);
    border-radius: 14px;
}
.nav-links .btn-outline{
    text-decoration: none;
    color: var(--primary-red);
}
.btn-outline{
    padding: 8px 14px;
    border: 2px solid var(--primary-red);
    border-radius: 8px;
}
.btn-outline:hover {
    background-color: var(--primary-red);
    color: var(--text-white);
}

/* Hero section */
body{
    background-color: var(--bg-dark);
    color: var(--text-white);
    font-family: "Aladin", system-ui;
}
.wrapper{
    padding: 80px;
    width: 100%;  
}
.ticket{
    background-color: aqua;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    width: 1200px;
}
.tag{
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid var(--primary-red);
    border-radius: 20px;
    font-size: 1rem;
    margin-bottom: 20px;
    font-family: var(--font-main);
}
.wrapper h1{
    font-size: 6rem;
    font-family: "Aladin", system-ui;
}
.wrapper .highlight{
    color: var(--primary-red);
}
.wrapper .description{
    color: var(--text-gray);
    font-size: 1.2rem;
    margin-top: 20px;
    max-width: 800px;
    font-family: var(--font-main);
}