:root {
    /* color */
  --primary-red: #e31b34;
  --bg-dark: #0a0a0a;
  --text-white: #ffffff;
  --text-gray: #b3b3b3;
  --surface-dark: #1a1a1a;
  --hover-gray: #eec4c42c;

    /* font family */
  --font-main: 'Clash Grotesk', sans-serif;
}
