@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Black+Ops+One&family=Bowlby+One+SC&family=Chango&family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&family=Snowburst+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600;700;800;900&family=DM+Sans:wght@400;500;600;700&display=swap');
:root {
    /* color */
  --primary-red: #C8102E;
  --bg-dark: #0D0D0D;
  --bg-light: #fff;
  --text-white: #ffffff;
  --text-gray: #b3b3b3;
  --surface-dark: #1a1a1a;
  --hover-gray: #eec4c42c;
  --btn-hover: #b3b3b34b;
  --footer-bg: #a0a0a0;

    /* font family */
  --font-main: 'Clash Grotesk', sans-serif;
  --primary-font: 'Barlow Condensed', sans-serif;
  --secondary-font: "Aladin", system-ui;
  --btn-font: 'DM Sans', sans-serif;
}
