@import url(./variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background: #f5f6fa;
    min-height: 100vh;
    display: flex;
}

/*Left panel*/

.panel-left {
    width: 30%;
    background: linear-gradient(135deg,  #1a1a1a, #C8102E);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 60px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-container {
    width: 55px;
    height: 55px;
    border-radius: 15px;
    background: #C8102E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.logo h1 {
    font-family: "Technor", sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
}

.hero-copy {
    max-width: 430px;
    margin-bottom: 100px;
}

.hero-copy h2 {
    font-family: "Clash Display", sans-serif;
    font-size: 52px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-copy p {
    font-size: 17px;
    line-height: 1.8;
    opacity: .9;
}


/* Right panel*/
.panel-right {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 40px;
}

.signup-box {
    width: 100%;
    max-width: 470px;
}

.signup-box h1 {
    font-family: "Clash Display", sans-serif;
    font-size: 38px;
    color: #222;
    margin-bottom: 10px;
}

.signup-text {
    color: #666;
    margin-bottom: 35px;
    line-height: 1.6;
}



.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
}

.form-group label {
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 15px;
    outline: none;
    transition: .3s;
    font-family: inherit;
}

.form-group input::placeholder {
    color: #aaa;
}

.form-group input:focus {
    border-color: #C8102E;
    box-shadow: 0 0 0 4px rgba(242, 73, 73, 0.15);
}



.signup-button {
    width: 100%;
    margin-top: 10px;
    padding: 16px;
    border: none;
    border-radius: 12px;
    background: #C8102E;
    color: white;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.signup-button:hover {
    background: #C8102E;
    transform: translateY(-2px);
}